<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Reposição da palavra-passe</h1>

      @if (initialized() && !key()) {
        <div class="alert alert-danger">Chave de reposição em falta.</div>
      }

      @if (key() && !success()) {
        <div class="alert alert-warning">
          <span>Escolha uma nova palavra-passe</span>
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger">
          <span>A sua palavra-passe não pode ser reposta. O pedido de reposição da palavra-passe é válido apenas por 24 horas.</span>
        </div>
      }

      @if (success()) {
        <div class="alert alert-success">
          <span><strong>A sua palavra-passe foi reposta.</strong> Por favor </span>
          <a class="alert-link" routerLink="/login">entrar</a>.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger">A palavra-passe e a sua confirmação devem ser iguais!</div>
      }

      @if (key() && !success()) {
        <div>
          <form name="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label class="form-label" for="newPassword">Nova palavra-passe</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Nova palavra-passe"
                formControlName="newPassword"
                data-cy="resetPassword"
                #newPassword
              />

              @let newPasswordRef = passwordForm.get('newPassword')!;
              @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
                <div>
                  @if (newPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">A palavra-passe é obrigatória.</small>
                  }

                  @if (newPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">A palavra-passe deve ter pelo menos 4 caracteres</small>
                  }

                  @if (newPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger">A palavra-passe não pode ter mais de 50 caracteres</small>
                  }
                </div>
              }

              <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value"></jhi-password-strength-bar>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Confirmação de nova palavra-passe</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirme a nova palavra-passe"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
              @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
                <div>
                  @if (confirmPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">A confirmação da palavra-passe é obrigatória.</small>
                  }

                  @if (confirmPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">A confirmação da palavra-passe deve ter pelo menos 4 caracteres</small>
                  }

                  @if (confirmPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger">A confirmação da palavra-passe não pode ter mais de 50 caracteres</small>
                  }
                </div>
              }
            </div>

            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Repor a palavra-passe</button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
